
    @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }
    .animated-background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
        height: 190px;
        width:320px;
      position:relative;
    }
    .top{
      height:14px;
      width:100%;
      background:red;
      float:left;
    }
    .left{
      height:27px;
      width:20px;
      background:red;
      float:left;
    }
    .right{
        background:red;
      height:27px;
      width:230px;
      position:absolute;
     right:0px;
    }
  