
    ::-webkit-input-placeholder {
       color: red;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: red;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: red;  
    }
    :-ms-input-placeholder {  
       color: red;  
    }
  